body{
    background-color: #ffc8dd;
    font-family: monospace;
    background-image: url("Untitled_design-removebg-preview.png");
    user-select: none;
    margin: 0;
}

#container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
}

#main-img{
    width: 400px;
}

h1{
    font-size: 3em;
    letter-spacing: 4px;
    color: #390099;
}

button{
    background-color: #390099;
    border: 8px solid whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    border-radius: 0.7em;
    padding: 0.5em 2em;
    font-size: 3em;
    margin: 1em 1em 0;
    transition: all 0.3s;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 4px;
    color: whitesmoke;
    cursor: pointer;
}


#yes:hover{
    background-color: #86b6e3;
    scale: 1.1;
}

p{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 50%;
}