:root {
  --pink: #ffc8dd;
  --purple: #390099;
}

body {
  background-color: var(--pink);
  font-family: monospace;
  background-image: url("images/backgroundPG.png");
  user-select: none;
  margin: 0;
}

#container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100vw;
}

#main-img {
  width: 20%;
  object-fit: cover;
}

h1 {
  font-size: 3vw;
  letter-spacing: 0.2rem;
  color: var(--purple);
}

button {
  background-color: var(--purple);
  border: 0.5rem solid whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  border-radius: 0.7em;
  padding: 0.5em 2em;
  font-size: 2.5rem;
  margin: 1em 1em 0;
  transition: all 0.3s ease-out;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: whitesmoke;
  cursor: pointer;
}

#yes:hover {
  background-color: #86b6e3;
  scale: 1.1;
}

p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  opacity: 50%;
  color: #5e1833;
}